@import "tailwindcss";
@import "../../vendor/livewire/flux/dist/flux.css";

@source '../views';
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../vendor/livewire/flux-pro/stubs/**/*.blade.php';
@source '../../vendor/livewire/flux/stubs/**/*.blade.php';
@source '../../node_modules/flowbite/**/*.js';

@plugin "flowbite/plugin";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
    font-family: "Alexandria";
    font-style: normal;
    font-weight: 100;
    src: url("../../public/fonts/Alexandria/static/Alexandria-Thin.ttf")
        format("truetype");
}

@font-face {
    font-family: "Alexandria";
    font-style: normal;
    font-weight: 200;
    src: url("../../public/fonts/Alexandria/static/Alexandria-ExtraLight.ttf")
        format("truetype");
}

@font-face {
    font-family: "Alexandria";
    font-style: normal;
    font-weight: 300;
    src: url("../../public/fonts/Alexandria/static/Alexandria-Light.ttf")
        format("truetype");
}

@font-face {
    font-family: "Alexandria";
    font-style: normal;
    font-weight: 400;
    src: url("../../public/fonts/Alexandria/static/Alexandria-Regular.ttf")
        format("truetype");
}

@font-face {
    font-family: "Alexandria";
    font-style: normal;
    font-weight: 500;
    src: url("../../public/fonts/Alexandria/static/Alexandria-Medium.ttf")
        format("truetype");
}

@font-face {
    font-family: "Alexandria";
    font-style: normal;
    font-weight: 600;
    src: url("../../public/fonts/Alexandria/static/Alexandria-SemiBold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Alexandria";
    font-style: normal;
    font-weight: 700;
    src: url("../../public/fonts/Alexandria/static/Alexandria-Bold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Alexandria";
    font-style: normal;
    font-weight: 800;
    src: url("../../public/fonts/Alexandria/static/Alexandria-ExtraBold.ttf")
        format("truetype");
}

@font-face {
    font-family: "Alexandria";
    font-style: normal;
    font-weight: 900;
    src: url("../../public/fonts/Alexandria/static/Alexandria-Black.ttf")
        format("truetype");
}

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-alexandria: Alexandria, "Instrument Sans", ui-sans-serif, system-ui,
        sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";

    --color-zinc-50: #fafafa;
    --color-zinc-100: #f5f5f5;
    --color-zinc-200: #e5e5e5;
    --color-zinc-300: #d4d4d4;
    --color-zinc-400: #a3a3a3;
    --color-zinc-500: #737373;
    --color-zinc-600: #525252;
    --color-zinc-700: #404040;
    --color-zinc-800: #262626;
    --color-zinc-900: #171717;
    --color-zinc-950: #0a0a0a;

    --color-main-50:  oklch(96.2% 0.018 272.314);
    --color-main-100: oklch(93% 0.034 272.788);
    --color-main-200: oklch(87% 0.065 274.039);
    --color-main-300: oklch(78.5% 0.115 274.713);
    --color-main-400: oklch(67.3% 0.182 276.935);
    --color-main-500: oklch(58.5% 0.233 277.117);
    --color-main-600: oklch(51.1% 0.262 276.966);
    --color-main-700: oklch(45.7% 0.24 277.023);
    --color-main-800: oklch(39.8% 0.195 277.366);
    --color-main-900: oklch(35.9% 0.144 278.697);
    --color-main-950: oklch(25.7% 0.09 281.288);

    --color-accent: var(--color-neutral-800);
    --color-accent-content: var(--color-neutral-800);
    --color-accent-foreground: var(--color-white);
}

@layer theme {
    .dark {
        --color-accent: var(--color-white);
        --color-accent-content: var(--color-white);
        --color-accent-foreground: var(--color-neutral-800);
    }
}

@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

[data-flux-field]:not(ui-radio) {
    @apply grid gap-2;
}

[data-flux-label] {
    @apply !mb-0 !leading-tight;
}

input:focus[data-flux-control],
textarea:focus[data-flux-control],
select:focus[data-flux-control] {
    @apply outline-hidden ring-2 ring-accent ring-offset-2 ring-offset-accent-foreground;
}

/* \[:where(&)\]:size-4 {
    @apply size-4;
} */

/**
    The lines above are intact.
    The lines below were added by maryUI installer.
*/

/** daisyUI */
@plugin "daisyui" {
    themes: light --default, dark --prefersdark;
}

/* maryUI */
@source "../../vendor/robsontenorio/mary/src/View/Components/**/*.php";

/* Theme toggle */
@custom-variant dark (&:where(.dark, .dark *));

/**
* Paginator - Traditional style
* Because Laravel defaults does not match well the design of daisyUI.
*/

.mary-table-pagination span[aria-current="page"] > span {
    @apply bg-primary text-base-100;
}

.mary-table-pagination button {
    @apply cursor-pointer;
}
